*.ts
!*.d.ts

# CDK asset staging directory
.cdk.staging
cdk.out

# Exclude jsii outdir
dist

# Include .jsii
!.jsii

# Snyk
reports

# GitHub Actions
.github

# Jest
coverage

# Project
.editorconfig
.eslintrc.json
.gitattributes
test
